<!DOCTYPE html>
<html lang="en">
<head>
	<title>Jandgeo Airplus Interface</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-lg-2"><img src="http://jandgeo.com/images/logo.png" /></div>

			<div class="col-lg-10">
				<div class="navbar">
					<a href="#" class="navbar-brand">Jandgeo Airplus</a>
					<p class="navbar-text">Dashboard</p>
				</div>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-lg-2">
				<div class="container">
					<div class="list-group">
						<a href="#" class="list-group-item active">Device 01</a>
						<a href="#" class="list-group-item">Device 02</a>
						<a href="#" class="list-group-item">Device 03</a>
						<a href="#" class="list-group-item">Device 04</a>
					</div>
				</div>
			</div>


			<div class="col-lg-10"></div>
		</div>

		<div class="nav">
			<h1></h1>
		</div>
		
		<!-- <div class="header">
			
	</div> -->
	
	<hr>

	<p>Page designed by Xiwei Yin | © Jandgeo Airplus Inc. 2013 </p>
	</div>


</body>
</html>